html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
  }

.newRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -0.5%;
    margin-left: -0.5%;
  }

.col-1-6, .col-2-6, .col-3-6, .col-4-6, .col-5-6, .col-6-6{
    position: relative;
    width: 100%;
    min-height: 1px;
    margin-right: 0.5%;
    margin-left: 0.5%;
    display: inline-block;
}
.col-1-6{
    max-width: 15.6666%;
}

.col-2-6{
    max-width: 32.333333%;
}

.col-3-6{
    max-width: 49%;
}

.col-4-6{
    max-width: 65.666667%;
}

.col-5-6{
    max-width: 82.333333%;
}

.col-6-6{
    max-width: 99%;
}